.post-content {
  padding: 10px 15px;
  background-color: var(--beige-color);

  @media (min-width: 640px) {
    padding: 20px 30px;
  }

  @media (min-width: 1024px) {
    padding: 25px 40px;
  }
}
