.explorer {
  &__fetch-info {
    margin: 25px 0 75px 0;

    font-weight: 400;
    font-size: 25px;
    text-align: center;

    // TODO: it is a good candidate for a mixin
    &--is-loading {
      color: var(--beige-color);
    }

    &--has-error {
      color: var(--error-color);
    }
  }
}
