.search-form {
  $line-height: 50px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 50px auto;

  @media (min-width: 480px) {
    width: 380px;
  }

  @media (min-width: 1024px) {
    width: 90%;
    flex-wrap: nowrap;
  }

  &__input-text,
  &__btn {
    flex-basis: 100%;
  }

  &__input-holder {
    flex-basis: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

    @media (min-width: 1024px) {
      flex-basis: 20%;
    }
  }

  &__input-text,
  &__input-number,
  &__btn,
  &__select-tip {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  &__input-text,
  &__input-number,
  &__btn {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__input-text,
  &__input-select,
  &__input-number,
  &__btn {
    display: block;
    border: none;
    outline: none;
    line-height: $line-height;

    @media (min-width: 1024px) {
      border-right: 2px solid #d1d1d1;
    }
  }

  &__select-tip {
    @media (min-width: 1024px) {
      padding-right: 0;
    }
  }

  &__input-text,
  &__input-number,
  &__input-holder {
    margin-bottom: 25px;

    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
  }

  &__input-text[name='domain'] {
    @media (min-width: 1024px) {
      flex-basis: 30%;
      border-top-left-radius: $line-height/2;
      border-bottom-left-radius: $line-height/2;
    }
  }

  &__input-text[name='searchPhrase'] {
    @media (min-width: 1024px) {
      flex-basis: 30%;
    }
  }

  &__input-number {
    flex-basis: 30%;
    font-size: 14px;

    @media (min-width: 1024px) {
      flex-basis: 10%;
      padding-right: 0;
    }
  }

  &__input-select {
    display: block;
    border-right: none;
    background-color: transparent;
    font-size: 14px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: $line-height/2;
    border-bottom-left-radius: $line-height/2;
    border-top-right-radius: $line-height/2;
    border-bottom-right-radius: $line-height/2;
    border-color: transparent;
    background-color: var(--main-color);
    color: var(--text-color);
    cursor: pointer;

    .fa-search {
      line-height: $line-height;
    }

    @media (min-width: 1024px) {
      flex-basis: 10%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
