.main-header {
  padding-top: 35px;
  padding-bottom: 65px;

  color: var(--text-color);
  text-align: center;

  &__logo {
    display: none;

    @media (min-width: 768px) {
      display: block;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 45px;

    @media (min-width: 768px) {
      margin-top: 1.25em;
    }
  }

  &__sub-title {
    margin-top: 2.5em;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
