.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  color: var(--text-color);
  background-color: var(--main-color);

  &__info {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
  }
}
